/*** Imports ***/

@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400&display=swap');

/*** Variables ***/
:root {
	--color-primary: #3127ca;
	--color-secondary: #555555;
	--color-success: #6dd75c;
	--color-danger: #ff6a56;
	--color-background-main: #f4f4f4;
	--color-background-card: #ffffff;
	--color-blue-gradient: linear-gradient(
			353.28deg,
			#1ea2db 7.78%,
			rgba(255, 255, 255, 0) 100%
		),
		#3127ca;

	--font-family: "Comfortaa";
	--font-family-serif: "Roboto Slab";

	--shadow-box: 0px -3px 20px rgba(0, 0, 0, 0.04);

	--border-radius: 10px;
}

/*** Resets ***/

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/*** Global ***/

img {
	max-width: 100%;
	height: auto;
}

body {
	margin: 0 auto;
	font-family: var(--font-family);
	font-size: 14px;
	background: var(--color-background-main);
	overflow: hidden;
}

p {
	line-height: 1.4;
}

/* .container {
	width: 100%;
	max-width: 500px;
	border: 1px red solid;
	margin: 0 auto;
} */

/*** Cards ***/

.card {
	background: var(--color-background-card);
	border-radius: var(--border-radius);
	box-shadow: var(--shadow-box);
	margin: 0 auto;
	width: calc(100% - 40px);
}

.card__header {
	font-size: 22px;
}

.btn {
	background: var(--color-background-card);
	border-radius: var(--border-radius);
	box-shadow: var(--shadow-box);
	margin: 20px auto;
	width: calc(100% - 40px);
	border: none;
	display: block;
	font-family: var(--font-family);
	padding: 15px;
}


/*** Login ***/
.login__body {
	background: var(--color-blue-gradient);
	height: 100vh;
   }

h2 {
	text-align: center;
	font-size: 30pt;
	color: var(--color-background-main);
}

#large_t {
	font-size: 38pt;
	font-weight: 300;
}

#firebaseui-auth-container {
	margin-left: 5%;
	margin-right: 5%;
}

/****************************************************
********************* Cyra's CSS ********************
*****************************************************/
.container {
	width: 100%;
	background-color: var(--color-background-main);
	font-family: var(--font-family);
	display: grid;
	height: 100vh;
	grid-template-rows: 5vh 90vh 5vh;
}

/* TOP BANNER */
.banner {
	top: 0;
	position: sticky;
	background-color: var(--color-background-main);
	color: var(--color-primary);
	font-size: 20pt;
	grid-row: 1;
	text-align: center;
}

/** INNER CONTAINER **/
.inner-container {
	grid-row: 2;
	background-color: var(--color-background-main);
}

/** GREETING **/
.greeting h1 {
	text-align: center;
	font-size: 30pt;
	margin-top: 20%;
}

/** RECENT HIGHLIGHTS **/
.highlights h2 {
	font-size: 20pt;
	display: inline;
	margin: 5%;
	border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

/** CONTENT **/
.content {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	align-content: stretch;
}

.content div {
	font-size: 11pt;
	color: rgba(0, 0, 0, 0.5);
	background-color: var(--color-background-card);
	padding: 5%;
	border: var(--border-card);
	border-radius: 12px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
	margin: 5%;
}

/** SMALL BOXES **/
.card {
	flex: 1 2 165px;
	/* height: 200px; */
}

/* * GRAPH BOX **/
.graphs {
	flex: 1 2 300px;
	text-align: center;
}

.graph {
	width: 100%;
}

/*************************************
**************************************
**************************************/

/*** Footer & Nav ***/

footer {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	background: var(--color-background-card);
	height: 80px;
	box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	grid-row: 3;
}

.nav__container {
	width: 100%;
	max-width: 500px;
	height: 100%;
	margin: 0 auto;
}

.nav__list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-items: space-evenly;
	align-items: center;
	width: 100%;
	height: 100%;
}

.nav__list-item {
	flex: 1;
	height: 100%;
	line-height: 70px;
	text-align: center;
}

.nav__timer-button {
	border: none;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background-color: var(--color-danger);
	cursor: pointer;
	position: relative;
	top: -15px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.nav__timer-button i {
	font-size: 48px;
	color: #ffffff;
}

/*** Timer ***/
/* Timer - Card */
.timer__container {
	width: 100%;
	max-width: 500px;
	height: 100vh;
	position: absolute;
	left: 50%;
	top: 0;
	pointer-events: none;
	transform: translate(-50%, 0);
	z-index: 4;
}

.timer__card {
	pointer-events: auto;
	height: 75vh;
	min-height: 450px;
	width: 100%;
	position: absolute;
	bottom: -80vh;
	z-index: 5;
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	transition: transform 250ms ease-in-out;
	background: var(--color-background-main);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.timer__card--active {
	transform: translate(0, -80vh);
}

.timer__toggle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	min-height: 10%;
	margin: 20px auto;
}

.timer__toggle-option {
	/* border: 1px red solid; */
	z-index: 7;
	flex: 1;
	display: block;
	/* height: 100%;
	padding: 20px 15px; */
	text-align: center;
	color: var(--color-secondary);
	transition: color 100ms ease-in-out 100ms;
}

.timer__toggle-option--active {
	color: white;
}

.timer__toggle-block {
	background: var(--color-blue-gradient);
	border-radius: var(--border-radius);
	box-shadow: var(--shadow-box);
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 6;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 200ms ease-in-out;
}

.timer__toggle-block--right {
	transform: translateX(100%);
}

.timer__timer {
	padding: 40px 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.timer__text {
	text-align: center;
	display: block;
	font-size: 55px;
	color: var(--color-secondary);
	letter-spacing: 2px;
}

.timer__control-btns {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	margin-top: 50px;
}

.timer__control-btn {
	border: none;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: var(--color-blue-gradient);
	box-shadow: var(--shadow-box);
}

.timer__control-btn i {
	color: white;
}

.timer__set-class {
	padding: 20px 0;
	font-size: 18px;
}

/* Timer - Close BTN and Background */
.timer__close-btn {
	border: none;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: var(--color-danger);
	cursor: pointer;
	position: relative;
	top: -40px;
	right: 25px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	transition: transform 250ms ease-in-out;
	pointer-events: auto;
}

.timer__close-btn i {
	color: white;
	font-size: 28px;
}

.timer__close-btn--active {
	transform: translate(0, 55px);
}

.timer__background {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
	pointer-events: none;
	opacity: 0;
	transition: opacity 200ms ease-in-out;
}

.timer__background--active {
	pointer-events: auto;
	opacity: 1;
}
