/*** Imports ***/

@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

/*** Variables ***/
:root {
	--color-primary: #3127ca;
	--color-secondary: #555555;
	--color-danger: #ff6a56;

	--font-family: "Comfortaa";
}

/*** Resets ***/

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/*** Global ***/

img {
	max-width: 100%;
	height: auto;
}

body {
	margin: 0;
	font-family: var(--font-family);
	font-size: 16px;
}

p {
	line-height: 1.4;
}

/*** Home ***/
h1 {
	background: var(--color-primary);
}
