/* This file contains only Timer popup styles */

/***************************/
/***************************/
/***        Timer        ***/
/***************************/
/***************************/

/***************************/
/***   Timer Container   ***/
/***************************/

/* Container to keep all timer elements centered */
.timer__container {
	width: 100%;
	max-width: 500px;
	height: 100vh;
	display: flex;
	align-items: flex-start;

	position: fixed;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 4;

	pointer-events: none;
}

/***************************/
/***     Timer Popup     ***/
/***************************/

/* Timer Box that pops up when timer btn in nav is pressed */
.timer__popup {
	width: 100%;
	height: 80vh;
	padding: 25px;
	background: var(--color-background-main);
	border-radius: var(--border-radius);

	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	/* Hides timer from view */
	position: relative;
	bottom: -200vh;
	z-index: 5;

	transition: transform 250ms ease-in-out;
	pointer-events: auto;
}

/* Brings timer into view when active */
.timer__popup--active {
	transform: translate(0, -190vh);
}

/***************************/
/*** Popup Time Section  ***/
/***************************/
.popup__time-section {
	/* Small height for when course list is expanded */
	height: 35%;
	width: 100%;
	background: var(--color-background-card);
	border-radius: var(--border-radius);
	box-shadow: var(--shadow-card);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	transition: var(--transition-height);
	line-height: 1;
	position: relative;
}

/* Height grows when this section is expanded */
.popup__time-section--expanded {
	height: 100%;
}

/* Timer Text that shows Time EX. 00:00:00 */
.timer__text {
	text-align: center;
	font-size: 50px;
	letter-spacing: 2px;
	margin-bottom: 20%;
	transition: var(--transition-scale);
}

/* Used to scale text to smaller size when course list section is expanded */
.timer__text--small {
	transform: scale(0.7);
	margin-bottom: 0%;
}

/* Timer Control Buttons Container */
.timer__control-btns {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	transition: var(--transition-scale);
}

/* Used to scale buttons to smaller size when course list section is expanded */
.timer__control-btns--small {
	transform: scale(0.6);
}

/* Individual Timer Control Button */
.timer__control-btn {
	border: none;
	width: 80px;
	height: 50px;
	border-radius: 25px;
	background: var(--color-blue-gradient);
	box-shadow: var(--shadow-card);
	/* Hidden by default, javascript will determine which are currently needed and display them using display flex (centers icons) */
	display: none;
	align-items: center;
	justify-content: space-evenly;
	margin: 10px;
}

.timer__control-btn div {
	color: white;
	font-size: 12px;
	line-height: 24px;
}

.timer__control-btn i {
	color: white;
	font-size: 24px;
}

/* Media Queries for timer control btns */
@media only screen and (min-width: 400px) {
	.timer__control-btns {
		width: 80%;
	}

	.timer__control-btn {
		width: 90px;
	}
}

@media only screen and (min-width: 500px) {
	.timer__control-btns {
		width: 75%;
	}

	.timer__control-btn {
		width: 100px;
	}

	.timer__control-btn div {
		font-size: 15px;
		line-height: 30px;
	}

	.timer__control-btn i {
		font-size: 30px;
	}
}

/* Saved Session Time Alert */
.done_saved {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-bottom: 0;
	transition: opacity 200ms linear;
	opacity: 0;
}

.done_saved_active {
	opacity: 1;
}

/***************************/
/***  Popup Course List  ***/
/***************************/
.popup__course-list {
	/* Small height for when time section is expanded */
	height: 90px;
	margin-top: 25px;
	padding: 0 15px;
	background: var(--color-background-card);
	border-radius: var(--border-radius);
	box-shadow: var(--shadow-card);
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	transition: var(--transition-height);
}

/* Height grows when this section is expanded */
.popup__course-list--expanded {
	height: 100%;
}

/* Button that expands popup course list */
.course-list__btn--show {
	height: 100%;
	max-height: 90px;
	width: 100%;
	background: var(--color-background-card);
	border: none;
	border-radius: var(--border-radius);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	transition: var(--transition-hover);
}

.course-list__btn--show:hover {
	background-color: var(--color-background-card-hover);
}

.course-list__btn--show .currently-tracking,
.course-list__btn--show .currently-tracking-course {
	font-size: 18px;
	color: var(--color-primary);
	font-family: var(--font-family-heading);
}

.course-list__btn--show .currently-tracking-course {
	font-weight: 700;
}

/* Course List - heading */
.course-list__heading {
	font-size: 20px;
	font-weight: 700;
	margin: 20px auto 0px;
}

/* Course List - List */
.course-list__list {
	margin: 0;
	padding: 10px 0 25px;
	list-style: none;
	opacity: 0;
	overflow-y: auto;
	overflow-x: hidden;
}

/* Course List - List Items */
.course-list__list-item {
	font-size: 16px;
	padding: 20px;
	/* display: flex;
	justify-content: space-between; */
	position: relative;
}

.course-list__list-item:hover {
	background-color: var(--color-background-card-hover);
}

.course-list__list-item--active {
	background-color: var(--color-background-card-hover);
}

/* Block on selected session */
.course-list__list-item--active::before {
	content: '';
	position: absolute;
	background-color: var(--color-primary);
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 6px;
}

/* Course List Buttons - Add New Course and Cancel */
.course-list__buttons {
	position: relative;
	opacity: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding-bottom: 15px;
	display: flex;
	justify-content: space-between;
}

.course-list__link-add,
.course-list__btn--close {
	width: 100%;
	padding: 10px 0;
	color: white;
	text-align: center;
	border-radius: var(--border-radius);
	transition: var(--transition-hover);
}

.course-list__link-add {
	display: block;
	background-color: var(--color-primary);
	color: white;
	margin-right: 10px;
}

.course-list__link-add:hover {
	color: white;
	text-decoration: none;
	background-color: var(--color-primary-hover);
}

.course-list__btn--close {
	display: block;
	background-color: var(--color-danger);
	color: white;
	border: none;
}
.course-list__btn--close:hover {
	background-color: var(--color-danger-hover);
}

/* Causes Course List and Course Buttons to fade in when course list section is expanded */
.popup__course-list--expanded .course-list__list,
.popup__course-list--expanded .course-list__buttons {
	opacity: 1;
	transition: opacity 300ms linear;
}

/***************************/
/***   Timer Close Btn   ***/
/***************************/

.timer__close-btn {
	border: none;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: var(--color-danger);
	cursor: pointer;
	position: relative;
	top: -40px;
	right: 25px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	transition: transform 250ms ease-in-out, var(--transition-hover);
	pointer-events: auto;
	z-index: 6;
	/* transition: var(--transition-hover); */
}

.timer__close-btn:hover {
	background-color: var(--color-danger-hover);
}

.timer__close-btn i {
	color: white;
	font-size: 28px;
}

.timer__close-btn--active {
	transform: translate(0, 55px);
}

/****************************/
/*** Full Page Background ***/
/****************************/

.timer__background {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
	pointer-events: none;
	opacity: 0;
	transition: opacity 200ms ease-in-out;
}

.timer__background--active {
	pointer-events: auto;
	opacity: 1;
}
